<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="'over'" [opened]="false">
    <!-- <img src="" alt=""
      style="height: 45px; padding-top: 5px;"> -->
    <div class='sidenav-links'>
      <!-- <a mat-button mat-raised-button color="primary" (click)="drawer.toggle()" [ngClass]="active ? 'active': ''"
        routerLink="/">Home</a> -->
      <a mat-button mat-raised-button color="primary" (click)="drawer.toggle()" routerLinkActive="active"
        routerLink="/library">Library</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <!-- <span><img src=""
          alt="" style="height: 45px; padding-top: 5px;"></span> -->
      <span class="spacer"></span>
      <div class="navbar-mid-a">
        <!-- <a *ngIf="!(isHandset$ | async)" mat-raised-button color="primary" [ngClass]="active ? 'active': ''"
          routerLink="/">Home</a> -->
        <a *ngIf="!(isHandset$ | async)" mat-raised-button color="primary" routerLinkActive="active"
          routerLink="/library">Library</a>
      </div>
      <!-- <a mat-icon-button class="center" matTooltip='Contact uss.' routerLinkActive="active" routerLink="/contact">
        <mat-icon aria-label="contact icon">mail_outline</mat-icon>
      </!-->
      <a type="button" class="center" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" color="black">menu</mat-icon>
      </a>
    </mat-toolbar>
    <ng-content></ng-content> <!-- Content goes here. -->
  </mat-sidenav-content>
</mat-sidenav-container>