// @import "src/assets/scss/buttons.scss";

// mat-sidenav-container {
//   @include nav-buttons();
// }

mat-toolbar {
  background: initial;
  position: fixed;
  top: 0;
  z-index: 10;
  .spacer {
    flex: 1 1 auto;
  }
  .navbar-mid-a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    a:not(:first-child) {
      margin-left: 8px;
    }
  }
}

mat-sidenav-content {
  min-height: 100vh;
  background-color: white;
}

mat-sidenav {
  width: 220px;
  img {
    padding-left: 15px;
  }
  .sidenav-links {
    font-weight: bold;
    overflow: hidden;
    a {
      margin: 13px 8px;
      // text-align: start;
    }
  }
  * {
    display: block;
  }
}
