<section>
    <h2>Media List</h2>
    <div class="filter">
        <mat-form-field>
            <input matInput placeholder="Search:" [(value)]="query" type="text"
                (keyup)="onSearchChange($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Filter By:" [(value)]="category">
                <mat-option *ngFor="let item of CATEGORIES" [value]="item">{{item == 'All' ? 'All Media' : item}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Sort By:" [(value)]="sortBy">
                <mat-option *ngFor="let item of SORTS" [value]="item">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="clearFilters()">Clear</button>
        <button mat-raised-button color="primary" (click)="onDescendingChange()">
            <ng-container *ngIf="ascendingDescending; then descending; else ascending"></ng-container>
            <ng-template #descending>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </ng-template>
            <ng-template #ascending>
                <mat-icon>keyboard_arrow_up</mat-icon>
            </ng-template>
        </button>
        <button mat-raised-button color="primary" (click)="openAddItem()">
            <mat-icon>library_add</mat-icon>
        </button>
    </div>

    <div *ngIf="media$ | async as elements" class="table-container mat-elevation-z10">
        <table>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Uploaded</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let element of elements | FilterSort:category:query:sortBy:ascendingDescending">
                <td>{{element.title}}</td>
                <td>{{element.category}}</td>
                <td>{{element.uploaded | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <button mat-raised-button color="warn" (click)="editItem(element)">
                        Update
                    </button>
                </td>
                <td>
                    <button mat-raised-button color="warn" (click)="deleteItem(element.id)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </div>

</section>