section {
  padding: 30px;
  margin-top: 30px;
  position: relative;
  * {
    text-align: center;
  }
}

.table-container {
  width: 60%;
  margin-top: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 700px;
  overflow: auto;
}

table {
  margin: 20px 0;
  width: 100%;
  td,
  th {
    padding: 8px 15px;
  }
}

.filter {
  *:not(:first-child) {
      margin-left: 20px;
  }
}
