.add-item-container {
  * {
    text-align: center;
  }
  section {
    margin: 40px 0 30px 0;
    * {
      display: block;
    }
    mat-form-field {
        width: 80%;
        margin: 15px auto;
    }
    .buttons {
      button {
        display: inline-block;
      }
      *:not(:first-child) {
        margin-left: 15px;
      }
    }
  }
}
